In [8]:
import pandas as pd
import re
import json


def convert_to_list(input_string):
    # Use regex to find words inside the brackets and add quotes around them
    quoted_string = re.sub(r'(\w+)', r'"\1"', input_string)
    
    # Now the string should look like valid JSON, e.g., '["region", "products"]'
    try:
        # Parse it as a JSON list
        return json.loads(quoted_string)
    except json.JSONDecodeError:
        print("Error: The input string is not in a valid list format")
        return []

label="[gender,region]"
columns=convert_to_list(label )
print(columns)
df = pd.read_json('data.json')
df.pivot_table(index="name",columns=columns,values="sales",aggfunc='sum',margins=True,margins_name="Total").to_excel("output.xlsx"),
print("Success")

['gender', 'region']
Success

In [10]:
import pyautogui
pyautogui.moveTo(100, 150)
pyautogui.alert('Hello World')
pyautogui.moveTo(200,400)
pyautogui.press('win')
pyautogui.alert('Hello World')
pyautogui.press('win')
pyautogui.alert('Hello World')
pyautogui.press('win')
pyautogui.alert('Hello World')
pyautogui.press('win')
pyautogui.alert('Hello World')
pyautogui.press('win')
pyautogui.alert('Hello World')
pyautogui.press('win')
pyautogui.alert('Hello World')
pyautogui.press('win')

In [51]:
# filter_df=df[df['year']=='2021']

# filter_df.pivot_table(index='category',columns='region',values='cost',aggfunc='sum')
# filter_df

In [10]:
pivot=df.pivot_table(index='name',columns=['region','quarter'],values='profit',aggfunc='sum',margins=True,margins_name='Total')
pivot.to_excel("pivot-101.xlsx")

In [55]:

# df=pd.DataFrame(data=df)
# filter_df = df[df['category'] == 2021]

pivot_table_sales=df.pivot_table(index=['category'], columns=['year','region'], values=['cost',"discount"], aggfunc='sum',margins=True,margins_name='Total')
pivot_table_sales

              cost                                                          \
year          2021    2022                    2023                   Total
region          TK     GTA     KSK   North     GTA   North    South
category
Fruits         NaN  7000.0     NaN     NaN     NaN  7000.0   7000.0  21000
Vegetables  9000.0     NaN  7000.0  7000.0  7000.0     NaN   7000.0  37000
Total       9000.0  7000.0  7000.0  7000.0  7000.0  7000.0  14000.0  58000

           discount
year           2021 2022            2023             Total
region           TK  GTA  KSK North  GTA North South
category
Fruits          NaN  5.0  NaN   NaN  NaN   5.0   7.0    17
Vegetables     10.0  NaN  8.0   6.0  4.0   NaN   6.0    34
Total          10.0  5.0  8.0   6.0  4.0   5.0  13.0    51